:root {
    --length: 186px;
    --percent: 0;
  }
  
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-family: "Inter", sans-serif;
  }

  .main {
    display: flex;
    background-color: #3579F5;
    border-radius: 10px;
    width: 743px;
    height: 91px;
    align-items: center;
  }

  .circle {
    position: relative;
    margin-left: 20px;
  }

  svg {
    transform: rotate(-90deg);
  }
  
  svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #fff;
    stroke-width: 1;
    stroke-linecap: round;
    transform: translate(5px, 5px);
  }
  
  svg circle:nth-child(2) {
    stroke-dasharray: var(--length);
    stroke-dashoffset: calc(var(--length) - (var(--length) * var(--percent)) / 100);;
    stroke-width: 2;
  }

  .number {
    position: absolute;
    top: 32%;
    left: 30%;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #fff;
  }
  
  .btn {
    background-color: #F4F8FF;
    border-radius: 6px;
    padding: 10px 25px;
    border: none;
    font-size: 14px;
    line-height: 20px;
    color: #4777ED;
    margin-left: 65px;
    margin-right: 18px;
  }

  .main-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #fff;
    font-size: 12px;
    margin-left: 16px;
  }

  .chek {
    background-color: #2364DB;
    border-radius: 40px;
    padding: 0 10px;
    width: fit-content;
  }

  p, h3 {
    margin: 0;
  }
